<h1>Sequences#view</h1>
<p>Find me in app/views/sequences/view.html.erb</p>
<!-- <p id="result"><%= @result %></p>
<%= @table %>
<br/>
<%= link_to "Repeat", :sequences_input %> -->
<table style="border: 4px solid darkblue; border-collapse: collapse; text-align: center" >
  <% if @number[0] == @number[1] %>
    <% if @result[2] != '0' %>
    <tr>
      <td style="border: 2px solid darkblue;"> <strong> Введенная последовательность:  </strong> </td>
    </tr>
    <tr>
      <td style="border: 2px solid darkblue;"> <%= @result[3] %> </td>
    </tr>
    <tr>
      <td style="border: 2px solid darkblue;"> <strong> Подпоследовательности: </strong> </td>
    </tr>
    <% @result[0].each do |res| %>
      <tr>
        <td style="border: 2px solid darkblue;"> <%= res %> </td>
      </tr>
    <% end %>
    <tr>
      <td style="border: 2px solid darkblue;"> <strong> Самая длинная подпоследовательность:  </strong> </td>
    </tr>
    <tr>
        <td style="border: 2px solid darkblue;"> <%= @result[1] %> </td>
    </tr>
    <tr>
      <td style="border: 2px solid darkblue;"> <strong> Ее длина:  </strong> </td>
    </tr>
    <tr>
      <td style="border: 2px solid darkblue;"> <%= @result[2] %> </td>
    </tr>
    <% else %>
      <tr>
        <td style="border: 2px solid darkblue;"> <strong> Введенная последовательность:  </strong> </td>
      </tr>
      <tr>
        <td style="border: 2px solid darkblue;"> <%= @result[3] %> </td>
      </tr>
      <tr>
        <td style="border: 2px solid darkblue;"> <strong> Подполседовательностей квадратов натуральных числе нет  </strong> </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td style="border: 2px solid darkblue;"> <strong> Введенная последовательность:  </strong> </td>
    </tr>
    <tr>
      <td style="border: 2px solid darkblue;"> <%= @result[3] %> </td>
    </tr>
    <tr>
      <td style="border: 2px solid darkblue;"> <strong> Введенное число n:  </strong> </td>
    </tr>
    <tr>
      <td style="border: 2px solid darkblue;"> <%= @number[0] %> </td>
    </tr>
    <tr>
      <td style="border: 2px solid darkblue;"> <strong> Число n не совпадает с длиной введенной последовательности!  </strong> </td>
    </tr>
  <% end %>
</table>Б
<br/>
<%= button_to "Вернуться", sequences_input_path, method: :get %>